API_KEY="abc123"
DATABASE_URL=postgresql+psycopg://dbuser:db-password@db_service:5432/mydb
# OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_MODEL_NAME="gpt-4o-mini"
# OPENAI_MODEL_NAME="ai/qwen3:4B-UD-Q4_K_XL"

#create new email password from google app passwords
EMAIL_ADDRESS="your email id here"
EMAIL_PASSWORD="your password here"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
